.imageUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 10px auto;
}

.imageUpload__progress {
    width: 100%;
}

.imageUpload__chooseFile {
    width: 100%;
}

.imageUpload__inputFile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imageUpload__caption{
    width: 100%;
}

.imageUpload__button{
    width: 100%;
}
